@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(226 232 240);
}

.navbar {
  background-color: rgb(162, 107, 170);
  color: rgb(241, 225, 225);
}

/* Estilos para el contenido principal */

.btn-sel {
  max-width: 155px;
}

.table-container {
  overflow-x: auto;
}

.table {
  width: 100%;
  max-width: 100%;

}

.table td,
.table th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
